legend, .titulo_banda, .subtitulo{
    text-align: center;
}

.citaçao{
    text-align: center;
    box-sizing: border-box;
    background-color: grey;
    width: 1000px;
    margin: 50px;
    padding: 30px;
}

.citaçao-2{
    text-align: left;
    box-sizing: border-box;
    background-color: grey;
    width: 1000px;
    margin: 50px;
    padding: 40px;

}

.autor{
    text-align: left;
    font-style: italic;
}